<ul *ngFor="let precaution of precautions">
    <li class="heading">{{precaution.heading}}</li>
    <li class="no-bullet">{{precaution.detail}}</li>
</ul>
<div class="card-container">
    <a class="circle-link" title="Stay Safe" target="_blank" rel="noopener">
        <img class="img-responsive" src="assets/images/blue-1.png">
    </a>

    <a class="circle-link" title="Stay Home"  target="_blank" rel="noopener">
        <img class="img-responsive" src="assets/images/blue-2.png">
    </a>

    <a class="circle-link" title="Stay Home" target="_blank" rel="noopener">
        <img class="img-responsive" src="assets/images/blue-3.png">
    </a>

    <a class="circle-link" title="Stay Safe" target="_blank" rel="noopener">
        <img class="img-responsive" src="assets/images/blue-4.png">
    </a>
  </div>